h1, h2 {
    margin-top: 10px;
    text-align: center;
}

#filters {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 15%;
    margin-right: 15%;
    border:1px solid black;
}
#filters div {
    display: block;
}
table {
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    align-items: center;
    justify-content: center;
}
.center {
    margin: 0 auto;
    display: block;
}

mat-form-field { /* search bar */
    font-size: 14px;
    width: 70%;
}

table th {
    color: white;
    font-size: 16px;
}
table tr {
    height: 30px;
}
label {
    display: inline-block;
    margin-right: 20px;
}